.empty-docs {
    margin: 20% auto;
    width: 450px;

    &-content {
        text-align: center;
        padding: 40px 80px;
        background: rgba($black, 0.05);
    }

    &-description {
        font-size: $font-size-h3;
        color: $brand-secondary;
        margin: 20px 0;
    }
}
