.folder-tree.panel-group {
    .panel {
        border-radius: 0;
        border: 0 solid rgba($black, 0.05);
        border-bottom-width: 1px;

        &-default {
            background: transparent;
        }
        &-heading {
            padding: 0;
            background: transparent;
        }
        &-title > a {
            text-decoration: none;
        }

        .sidebar-nav-link {
            &-content {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                i {
                    flex: 0 0 24px;
                }

                > span {
                    min-width: 0;
                    @include text-overflow-ellipsis;
                }
            }
        }

        &-body {
            padding: 0;

            .sidebar-nav-link {
                padding-left: 60px;
            }
        }

        & ~ .panel {
            margin: 0;
        }
    }
}
