.document-editor {
    max-height: 100%;
    overflow: auto;
    padding: 20px;
    background: $white;
    box-shadow: 0 2px 2px 2px rgba($black, 0.2);

    .title-editor {
        height: 40px;
        border-bottom: 1px solid $table-border-color;
        margin-bottom: 20px;
    }

    .toolbar-menu {
        margin-bottom: 10px;

        .button {
            margin-right: 10px;
            cursor: pointer;
            &:first-child {
                margin-left: -5px;
            }
        }
    }
}
