.main-page {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 36px;
        z-index: 1000;
        color: $brand-secondary;
        box-shadow: 0 2px 2px 2px rgba($black, 0.2);
        display: none;
    }
    .sidebar {
        position: fixed;
        width: 250px;
        top: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 2px 2px 2px rgba($black, 0.2);
        z-index: 1000;

        .loader {
            padding-left: 20px;

            .background-masker {
                background: $white;
            }
        }

        &-nav-link {
            display: block;
            padding: 6px 12px;
            font-size: $font-size-large;
            color: $brand-secondary;
            text-decoration: none;
            @include text-overflow-ellipsis;

            &--home {
                display: flex;
                align-items: center;
            }

            &--logout {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                display: flex;
                align-items: center;
            }

            &.active {
                background-color: rgba($brand-primary, 0.8);
                color: $white;

                &:hover {
                    background-color: $brand-primary;
                }
            }
            &:hover {
                cursor: pointer;
                background-color: rgba($black, 0.05);
            }
        }
    }

    .main-content {
        position: absolute;
        top: 0;
        left: 250px;
        right: 0;
        bottom: 0;
        padding: 20px 40px;
        background: $gray-lightest;

        .data-container {
            display: flex;
            flex-flow: row wrap;
            background: $gray-lightest;

            .loader {
                width: 100%;
            }

            .blank-card {
                height: 150px;
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: white;
                margin: 5px;

                i {
                    font-size: 4em;
                    margin: 10px 0;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 2px 2px 2px rgba($black, 0.2);
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .sidebar {
            display: none;
        }
        .main-content {
            left: 0;
            padding: 0 0 0 10px;
            top: 36px;

            .data-container {
                margin-top: 10px;
                max-height: 95%;
                overflow: auto;

                .data-card,
                .blank-card {
                    flex: 0 0 46.5%;
                }
            }
        }
        .header {
            display: flex;
        }
    }
}
