//
// Utilities
// --------------------------------------------------

//== Margin Utility Classes
//
//## Util classes for quickly adding margins to elements

//** Initialize Margin Variables
$m:     $util-margin-start;
$mt:    $util-margin-start;
$mr:    $util-margin-start;
$mb:    $util-margin-start;
$ml:    $util-margin-start;

//** Margin
@while $m < $util-margin-end {
    .m-#{$m} { margin: 1px * $m; }
    $m: $m + $util-margin-counter;
}
//** Margin Top
@while $mt < $util-margin-end {
    .mt-#{$mt} { margin-top: 1px * $mt; }
    $mt: $mt + $util-margin-counter;
}
//** Margin-Right
@while $mr < $util-margin-end {
    .mr-#{$mr} { margin-right: 1px * $mr; }
    $mr: $mr + $util-margin-counter;
}
//** Margin-Bottom
@while $mb < $util-margin-end {
    .mb-#{$mb} { margin-bottom: 1px * $mb; }
    $mb: $mb + $util-margin-counter;
}
//** Margin-Left
@while $ml < $util-margin-end {
    .ml-#{$ml} { margin-left: 1px * $ml; }
    $ml: $ml + $util-margin-counter;
}


//== Padding Utility Classes
//
//## Util classes for quickly adding padding to elements

//** Initialize Padding Variables
$p:     $util-padding-start;
$pt:    $util-padding-start;
$pr:    $util-padding-start;
$pb:    $util-padding-start;
$pl:    $util-padding-start;

//** Padding
@while $p < $util-padding-end {
    .p-#{$p} { padding: 1px * $p; }
    $p: $p + $util-padding-counter;
}
//** Padding Top
@while $pt < $util-padding-end {
    .pt-#{$pt} { padding-top: 1px * $pt; }
    $pt: $pt + $util-padding-counter;
}
//** Padding-Right
@while $pr < $util-padding-end {
    .pr-#{$pr} { padding-right: 1px * $pr; }
    $pr: $pr + $util-padding-counter;
}
//** Padding-Bottom
@while $pb < $util-padding-end {
    .pb-#{$pb} { padding-bottom: 1px * $pb; }
    $pb: $pb + $util-padding-counter;
}
//** Padding-Left
@while $pl < $util-padding-end {
    .pl-#{$pl} { padding-left: 1px * $pl; }
    $pl: $pl + $util-padding-counter;
}


//== Miscellaneous
.label-xs {
    font-size: 8px;
    padding: 3px 7px;
    border-radius: $border-radius-base;
}

//
//## All

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.display-flex-column {
    @extend .display-flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.height-100 {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-text {
    cursor: text;
}

.cursor-progress {
    cursor: progress;
}

.text-underline {
    text-decoration: underline;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-transform-none {
    text-transform: none !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.pointer-events-none {
    pointer-events: none;
}
